<div class="whole_body">
  <div class="body container">
    <p>
      <img style="width:500px;height:250px;" src="../assets/welcome.jpg">

    </p>
    <div class="container all">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <h1 style="background-color:#17A589;padding-bottom: 20px;padding-top: 10px;">Please Fill The Information Below :
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          </h1>

          <form id="InputForm" (ngSubmit)="submitForm(form)" #form="ngForm">

            <!--First Name-->
            <div class="form-group">
              <label class="labels " for="firstName">First Name:</label>
              <input class="form-control" type="text" placeholder="First Name" required pattern="[a-zA-Z ]*" minlength="3" name="firstName"
                required ngModel id="firstName" #firstName="ngModel">

              <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-info">
                <div *ngIf="firstName.errors.required">
                  First Name is required.
                </div>

                <div *ngIf="firstName.errors.pattern">
                  First Name accept only characters.
                </div>

                <div *ngIf="firstName.errors.minlength">
                  First Name should be more than 2 characters.
                </div>

              </div>
            </div>

            <!--Middle Name-->
            <div class="form-group">
              <label class="labels " for="middleName">Middle Name:</label>
              <input class="form-control" type="text" placeholder="Middle Name" required pattern="[a-zA-Z ]*" minlength="3" name="middleName"
                required ngModel id="middleName" #middleName="ngModel">

              <div *ngIf="middleName.errors && (middleName.dirty || middleName.touched)" class="alert alert-info">
                <div *ngIf="middleName.errors.required">
                  Middle Name is required.
                </div>

                <div *ngIf="middleName.errors.pattern">
                  Middle Name accept only characters.
                </div>

                <div *ngIf="middleName.errors.minlength">
                  Middle Name should be more than 2 characters.
                </div>

              </div>
            </div>

            <!--last Name-->
            <div class="form-group">
              <label class="labels " for="lastName">Last Name:</label>
              <input class="form-control" type="text" placeholder="Last Name" required pattern="[a-zA-Z ]*" minlength="3" name="lastName"
                required ngModel id="lastName" #lastName="ngModel">

              <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-info">
                <div *ngIf="lastName.errors.required">
                  Last Name is required.
                </div>

                <div *ngIf="lastName.errors.pattern">
                  Last Name accept only characters.
                </div>

                <div *ngIf="lastName.errors.minlength">
                  Last Name should be more than 2 characters.
                </div>

              </div>
            </div>



            <!-- email-->
            <div class="form-group">
              <label class="labels " for="email">E-mail:</label>
              <input class="form-control" type="email" placeholder="example@example.com" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                type="email" name="email" required id="email" ngModel #email="ngModel">

              <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-info">
                <div *ngIf="email.errors.required">
                  E-mail is required field.
                </div>

                <div *ngIf="email.errors.pattern">
                  Invalid E-mail, Please enter a valid one.
                </div>

              </div>
            </div>

            <!-- mobile number -->
            <div class="form-group">
              <label class="labels " for="Mobile">Mobile Number</label>
              <input class="form-control" type="tel" placeholder="01234567890" required maxlength="11" pattern="(01)[0-9]{9}" name="Mobile"
                required id="Mobile" ngModel #Mobile="ngModel">

              <div *ngIf="Mobile.errors && (Mobile.dirty || Mobile.touched)" class="alert alert-info">
                <div *ngIf="Mobile.errors.required">
                  Mobile number is required field.
                </div>
                <div *ngIf="Mobile.errors.pattern">
                  invalid.
                </div>
              </div>
            </div>

            <!-- Address -->
            <div class="form-group">
              <label class="labels " for="Address">Address</label>
              <input class="form-control" type="text" placeholder="Address" required ngModel name="Address" class="form-control" #Address="ngModel"
                id="Address">

              <div *ngIf="Address.errors && (Address.dirty || Address.address)" class="alert alert-info">
                <div *ngIf="Address.errors.required">
                  Address is a required field.
                </div>
              </div>
            </div>


            <!--university -->
            <div class="form-group">
              <label class="labels " for="uniUniversityversity">University</label>
              <input class="form-control" type="text" id="University" placeholder="Enter Your University" required pattern="[a-zA-Z ]*"
                ngModel name="University" class="form-control" #University="ngModel">

              <div *ngIf="University.errors && (University.dirty || University.touched)" class="alert alert-info">
                <div *ngIf="University.errors.required">
                  University is a required field.
                </div>
                <div *ngIf="University.errors.pattern">
                  invalid, you must enter characters only.
                </div>
              </div>
            </div>



            <!-- faculty -->
            <div class="form-group">
              <label class="labels " for="Faculty">Faculty</label>
              <input class="form-control" type="text" id="Faculty" placeholder="Enter Your Faculty" required pattern="[a-zA-Z ]*" ngModel
                name="Faculty" class="form-control" #Faculty="ngModel">
              <div *ngIf="Faculty.errors && (Faculty.dirty || Faculty.touched)" class="alert alert-info">
                <div *ngIf="Faculty.errors.required">
                  Faculty is a required field.
                </div>
                <div *ngIf="Faculty.errors.pattern">
                  invalid, you must enter characters only.
                </div>
              </div>
            </div>

            <!-- collegeDeparment -->
            <div class="form-group">
              <label class="labels " for="collegeDepartment">College Department</label>
              <input class="form-control" type="text" id="collegeDepartment" placeholder="Enter Your College Department" required pattern="[a-zA-Z ]*"
                ngModel name="collegeDepartment" class="form-control" #collegeDepartment="ngModel">
              <div *ngIf="collegeDepartment.errors && (collegeDepartment.dirty || collegeDepartment.touched)" class="alert alert-info">
                <div *ngIf="collegeDepartment.errors.required">
                  College Department is a required field.
                </div>
                <div *ngIf="collegeDepartment.errors.pattern">
                  invalid, you must enter characters only.
                </div>
              </div>
            </div>

            <!-- year-->
            <div class="form-group">
              <label class="labels " for="graduationYear">Expected Graduation Year</label>
              <input class="form-control" type="text" id="graduationYear" placeholder="2018" required maxlength="4" pattern="(201[7-9]|202[0-9])"
                ngModel name="graduationYear" class="form-control" #Expected_GraduationYear="ngModel">

              <div *ngIf="Expected_GraduationYear.errors && (Expected_GraduationYear.dirty || Expected_GraduationYear.touched)" class="alert alert-info">
                <div *ngIf="Expected_GraduationYear.errors.required">
                  Graduation Year is a required field.
                </div>
                <div *ngIf="Expected_GraduationYear.errors.pattern">
                  Invalid Year.
                </div>

              </div>
            </div>

            <!-- college id -->
            <div class="form-group">
              <label class="labels" for="collegeID">College ID</label>
              <input class="form-control" type="text" placeholder="College ID" required ngModel name="collegeID" class="form-control" #collegeID="ngModel"
                id="collegeID">

              <div *ngIf="collegeID.errors && (collegeID.dirty || collegeID.touched)" class="alert alert-info">
                <div *ngIf="collegeID.errors.required">
                  College ID is a required field.
                </div>
              </div>
            </div>


            <!--Parent 1 name-->
            <div class="form-group">
              <label class="labels " for="parent1">Parent 1 Name:</label>
              <input class="form-control" type="text" placeholder="Parent 1 Name" required pattern="[a-zA-Z ]*" minlength="3" name="parent1"
                required ngModel id="parent1" #parent1="ngModel">

              <div *ngIf="parent1.errors && (parent1.dirty || parent1.touched)" class="alert alert-info">
                <div *ngIf="parent1.errors.required">
                  Parent Name is required.
                </div>

                <div *ngIf="parent1.errors.pattern">
                  Parent Name accept only characters.
                </div>

                <div *ngIf="parent1.errors.minlength">
                  Parent Name should be more than 2 characters.
                </div>

              </div>
            </div>

            <!--Parent 1 mobile-->
            <div class="form-group">
              <label class="labels " for="parent1Mobile">Mobile Number</label>
              <input class="form-control" type="tel" placeholder="01234567890" required maxlength="11" pattern="(01)[0-9]{9}" name="parent1Mobile"
                required id="parent1Mobile" ngModel #parent1Mobile="ngModel">

              <div *ngIf="parent1Mobile.errors && (parent1Mobile.dirty || parent1Mobile.touched)" class="alert alert-info">
                <div *ngIf="parent1Mobile.errors.required">
                  Mobile number is required field.
                </div>
                <div *ngIf="parent1Mobile.errors.pattern">
                  invalid.
                </div>
              </div>
            </div>


            <!--Parent 2 Name-->
            <div class="form-group">
              <label class="labels " for="parent2">Parent 2 Name:</label>
              <input class="form-control" type="text" placeholder="Parent 2 Name" pattern="[a-zA-Z ]*" minlength="3" name="parent2"
                ngModel id="parent2" #parent2="ngModel">

              <div *ngIf="parent2.errors && (parent2.dirty || parent2.touched)" class="alert alert-info">

                <div *ngIf="parent2.errors.pattern">
                  Parent Name accept only characters.
                </div>

                <div *ngIf="parent2.errors.minlength">
                  Parent Name should be more than 2 characters.
                </div>

              </div>
            </div>

            <!--Parent 2 mobile-->
            <div class="form-group">
              <label class="labels " for="parent2Mobile">Mobile Number</label>
              <input class="form-control" type="tel" placeholder="01234567890" maxlength="11" pattern="(01)[0-9]{9}" name="parent2Mobile"
                id="parent2Mobile" ngModel #parent2Mobile="ngModel">

              <div *ngIf="parent2Mobile.errors && (parent2Mobile.dirty || parent2Mobile.touched)" class="alert alert-info">
                <div *ngIf="parent2Mobile.errors.pattern">
                  invalid.
                </div>
              </div>
            </div>


            <!-- national id -->
            <div class="form-group">
              <label class="labels " for="nationalID">NationalID</label>
              <input class="form-control" type="text" placeholder="National ID" required minlength="14" maxlength="14" ngModel name="nationalID"
                class="form-control" #nationalID="ngModel" id="nationalID">

              <div *ngIf="nationalID.errors && (nationalID.dirty || nationalID.touched)" class="alert alert-info">
                <div *ngIf="nationalID.errors.required">
                  NationalID is a required field.
                </div>
                <div *ngIf="nationalID.errors.minlength">
                  NationalID should be 14 characters.
                </div>
              </div>
            </div>


            <!-- Passport id -->
            <div class="form-group">
              <label class="labels " for="passportID">Passport ID</label>
              <input class="form-control" type="text" placeholder="Passport ID" ngModel name="passportID" class="form-control" #passportID="ngModel"
                id="passportID">

              <div *ngIf="passportID.errors && (passportID.dirty || passportID.touched)" class="alert alert-info">
              </div>
            </div>


            <!-- Driving id -->
            <div class="form-group">
              <label class="labels " for="drivingID">Driving ID</label>
              <input class="form-control" type="text" placeholder="Driving ID" ngModel name="drivingID" class="form-control" #drivingID="ngModel"
                id="drivingID">

              <div *ngIf="drivingID.errors && (drivingID.dirty || drivingID.touched)" class="alert alert-info">
              </div>
            </div>


            <!--Selection Box-->
            <div class="form-group">
              <label class="labels " for="teamDepartment">Team Department</label>
              <select name="teamDepartment" class="custom-select" id="teamDepartment" ngModel #teamDepartment="ngModel" required>
                <option value="managment">Managment</option>
                <option value="technical">Technical</option>
              </select>
              <label for="haveCar" class="labels ">Do You Have A Car ?
              <input class="custom-control-input" type="checkbox"  ngModel name="haveCar" class="form-control"
              #haveCar="ngModel" id="haveCar">
            </label>

              <div *ngIf="teamDepartment.errors && (teamDepartment.dirty || teamDepartment.touched)" class="alert alert-info">
                <div *ngIf="teamDepartment.errors.required">Choose Your Department</div>
              </div>
            </div>

            <!--The Part of Height and weight which exists only if the choosen team department is technical-->
            <div class="form-group" *ngIf="teamDepartment.value === 'technical' ">


              <!--Weight-->
              <div class="form-group">
                <label class="labels " for="Weight">Weight</label>
                <input class="form-control" type="text" placeholder="Weight" required minlength="2" maxlength="3" ngModel name="Weight" class="form-control"
                  #Weight="ngModel" id="Weight">

                <div *ngIf="Weight.errors && (Weight.dirty || Weight.touched)" class="alert alert-info">
                  <div *ngIf="Weight.errors.required">
                    Weight is a required field if you choose Technical Department.
                  </div>
                  <div *ngIf="Weight.errors.minlength">
                    Write A valid weight in Kgs.
                  </div>
                </div>
              </div>


              <!--Height-->
              <div class="form-group">
                <label class="labels " for="Height">Height</label>
                <input class="form-control" type="text" placeholder="Height" required minlength="3" maxlength="3" ngModel name="Height" class="form-control"
                  #Height="ngModel" id="Height">

                <div *ngIf="Height.errors && (Height.dirty || Height.touched)" class="alert alert-info">
                  <div *ngIf="Height.errors.required">
                    Height is a required field if you choose Technical Department.
                  </div>
                  <div *ngIf="Height.errors.minlength">
                    Write A valid Height in cms.
                  </div>
                </div>
              </div>
            </div>



            <!--profile picture-->
            <div class="form-group">
              <i class="fa fa-user-o icon" aria-hidden="true"></i>
              <label class="labels " for="profilePic">Profile Picture
                <span>size
                  smaller 500 KB</span>
              </label>
              <br>
              <input class="form-control" type="file" id = "profilePic" name="profilePic" class="form-control" accept="image/*" (change)="convertPhoto($event.target)">
            </div>

            <!--Submit Button-->
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid">Submit</button>


          </form>
        </div>
      </div>
    </div>
  </div>
