<div class="container all">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <h1 style="background-color:#17A589;padding-bottom: 20px;padding-top: 10px;">Please Fill The Information Below :
                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            </h1>

            <form id="InputForm" (ngSubmit)="submitForm(form)" #form="ngForm">
                <!--profile picture-->
                <div class="row">
                    <div class="col-4">
                        <h4>Profile Picture <img src="{{pImage}}" alt="" class="img-responsive" style="max-Height:150px;max-width:100%" id="profilePic">
                        </h4>
                    </div>

                    <div class="col-8">
                        <div class="form-group" *ngIf="currentMode === 'editing'">
                            <i class="fa fa-user-o icon" aria-hidden="true"></i>
                            <label class="labels " for="ProfilePicture">Profile Picture
                                            <span>size
                                            smaller 500 KB
                                            </span>
                                </label>
                            <br>
                            <input [readonly]="currentMode === 'viewing'" class="form-control" type="file" name="ProfilePicture" class="form-control"
                               [src] = "pImage" accept="image/*" (change)="convertPhoto($event.target)">
                        </div>
                    </div>
                </div>

                <!--First Name-->
                <div class="form-group">
                    <label class="labels " for="firstName">First Name:</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.firstName" class="form-control" type="text" placeholder="First Name"
                        required pattern="[a-zA-Z ]*" minlength="3" name="firstName" required ngModel id="firstName" #firstName="ngModel">

                    <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="firstName.errors.required">
                            First Name is required.
                        </div>

                        <div *ngIf="firstName.errors.pattern">
                            First Name accept only characters.
                        </div>

                        <div *ngIf="firstName.errors.minlength">
                            First Name should be more than 2 characters.
                        </div>

                    </div>
                </div>
                
                <!--Middle Name-->
                <div class="form-group">
                    <label class="labels " for="middleName">Middle Name:</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.middleName" class="form-control" type="text" placeholder="Middle Name"
                        required pattern="[a-zA-Z ]*" minlength="3" name="middleName" required ngModel id="middleName" #middleName="ngModel">

                    <div *ngIf="middleName.errors && (middleName.dirty || middleName.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="middleName.errors.required">
                            Middle Name is required.
                        </div>

                        <div *ngIf="middleName.errors.pattern">
                            Middle Name accept only characters.
                        </div>

                        <div *ngIf="middleName.errors.minlength">
                            Middle Name should be more than 2 characters.
                        </div>

                    </div>
                </div>

                <!--last Name-->
                <div class="form-group">
                    <label class="labels " for="lastName">Last Name:</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]='profile.lastName' class="form-control" type="text" placeholder="Last Name"
                        required pattern="[a-zA-Z ]*" minlength="3" name="lastName" required ngModel id="lastName" #lastName="ngModel">

                    <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="lastName.errors.required">
                            Last Name is required.
                        </div>

                        <div *ngIf="lastName.errors.pattern">
                            Last Name accept only characters.
                        </div>

                        <div *ngIf="lastName.errors.minlength">
                            Last Name should be more than 2 characters.
                        </div>

                    </div>
                </div>



                <!-- email-->
                <div class="form-group">
                    <label class="labels " for="email">E-mail:</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]='profile.email' class="form-control" type="email" placeholder="example@example.com"
                        required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" name="email" required id="email"
                        ngModel #email="ngModel">

                    <div *ngIf="email.errors && (email.dirty || email.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="email.errors.required">
                            E-mail is required field.
                        </div>

                        <div *ngIf="email.errors.pattern">
                            Invalid E-mail, Please enter a valid one.
                        </div>

                    </div>
                </div>

                <!-- mobile number -->
                <div class="form-group">
                    <label class="labels " for="Mobile">Mobile Number</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.Mobile" class="form-control" type="tel" placeholder="01234567890"
                        required maxlength="11" pattern="(01)[0-9]{9}" name="Mobile" required id="Mobile" ngModel #Mobile="ngModel">

                    <div *ngIf="Mobile.errors && (Mobile.dirty || Mobile.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="Mobile.errors.required">
                            Mobile number is required field.
                        </div>
                        <div *ngIf="Mobile.errors.pattern">
                            invalid.
                        </div>
                    </div>
                </div>


                <!-- Address -->
                <div class="form-group">
                    <label class="labels " for="Address">Address</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.Address" class="form-control" type="text" placeholder="Address"
                        required ngModel name="Address" class="form-control" #Address="ngModel" id="Address">

                    <div *ngIf="Address.errors && (Address.dirty || Address.touched)" class="alert alert-info">
                        <div *ngIf="Address.errors.required">
                            address is a required field.
                        </div>
                    </div>
                </div>


                <!--university -->
                <div class="form-group">
                    <label class="labels " for="University">University</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.University" class="form-control" type="text" id="University"
                        placeholder="Enter Your University" required pattern="[a-zA-Z ]*" ngModel name="University" class="form-control"
                        #University="ngModel">

                    <div *ngIf="University.errors && (University.dirty || University.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="University.errors.required">
                            University is a required field.
                        </div>
                        <div *ngIf="University.errors.pattern">
                            invalid, you must enter characters only.
                        </div>
                    </div>
                </div>



                <!-- faculty -->
                <div class="form-group">
                    <label class="labels " for="Faculty">Faculty</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.Faculty" class="form-control" type="text" id="Faculty" placeholder="Enter Your Faculty"
                        required pattern="[a-zA-Z ]*" ngModel name="Faculty" class="form-control" #Faculty="ngModel">
                    <div *ngIf="Faculty.errors && (Faculty.dirty || Faculty.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="Faculty.errors.required">
                            Faculty is a required field.
                        </div>
                        <div *ngIf="Faculty.errors.pattern">
                            invalid, you must enter characters only.
                        </div>
                    </div>
                </div>

                <!-- collegeDeparment -->
                <div class="form-group">
                    <label class="labels " for="collegeDepartment">College Department</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.collegeDepartment" class="form-control" type="text" id="collegeDepartment"
                        placeholder="Enter Your College Department" required pattern="[a-zA-Z ]*" ngModel name="collegeDepartment"
                        class="form-control" #collegeDepartment="ngModel">
                    <div *ngIf="collegeDepartment.errors && (collegeDepartment.dirty || collegeDepartment.touched) && currentMode ==='editing'"
                        class="alert alert-info">
                        <div *ngIf="collegeDepartment.errors.required">
                            College Department is a required field.
                        </div>
                        <div *ngIf="collegeDepartment.errors.pattern">
                            invalid, you must enter characters only.
                        </div>
                    </div>
                </div>

                <!-- year-->
                <div class="form-group">
                    <label class="labels " for="graduationYear">Expected Graduation Year</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.graduationYear" class="form-control" type="text" id="graduationYear"
                        placeholder="2018" required maxlength="4" pattern="(201[7-9]|202[0-9])" ngModel name="graduationYear"
                        class="form-control" #Expected_GraduationYear="ngModel">

                    <div *ngIf="Expected_GraduationYear.errors && (Expected_GraduationYear.dirty || Expected_GraduationYear.touched) && currentMode ==='editing'"
                        class="alert alert-info">
                        <div *ngIf="Expected_GraduationYear.errors.required">
                            Graduation Year is a required field.
                        </div>
                        <div *ngIf="Expected_GraduationYear.errors.pattern">
                            Invalid Year.
                        </div>

                    </div>
                </div>

                <!-- college id -->
                <div class="form-group">
                    <label class="labels" for="collegeID">College ID</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.collegeID" class="form-control" type="text" placeholder="College ID"
                        required ngModel name="collegeID" class="form-control" #collegeID="ngModel" id="collegeID">

                    <div *ngIf="collegeID.errors && (collegeID.dirty || collegeID.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="collegeID.errors.required">
                            College ID is a required field.
                        </div>
                    </div>
                </div>


                <!--Parent 1 name-->
                <div class="form-group">
                    <label class="labels " for="parent1">Parent 1 Name:</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.parent1" class="form-control" type="text" placeholder="Parent 1 Name"
                        required pattern="[a-zA-Z ]*" minlength="3" name="parent1" required ngModel id="parent1" #parent1="ngModel">

                    <div *ngIf="parent1.errors && (parent1.dirty || parent1.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="parent1.errors.required">
                            Parent Name is required.
                        </div>

                        <div *ngIf="parent1.errors.pattern">
                            Parent Name accept only characters.
                        </div>

                        <div *ngIf="parent1.errors.minlength">
                            Parent Name should be more than 2 characters.
                        </div>

                    </div>
                </div>

                <!--Parent 1 mobile-->
                <div class="form-group">
                    <label class="labels " for="parent1Mobile">Mobile Number</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.parent1Mobile" class="form-control" type="tel" placeholder="01234567890"
                        required maxlength="11" pattern="(01)[0-9]{9}" name="parent1Mobile" required id="parent1Mobile" ngModel
                        #parent1Mobile="ngModel">

                    <div *ngIf="parent1Mobile.errors && (parent1Mobile.dirty || parent1Mobile.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="parent1Mobile.errors.required">
                            Mobile number is required field.
                        </div>
                        <div *ngIf="parent1Mobile.errors.pattern">
                            invalid.
                        </div>
                    </div>
                </div>


                <!--Parent 2 Name-->
                <div class="form-group">
                    <label class="labels " for="parent2">Parent 2 Name:</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.parent2" class="form-control" type="text" placeholder="Parent 2 Name"
                        pattern="[a-zA-Z ]*" minlength="3" name="parent2" ngModel id="parent2" #parent2="ngModel">

                    <div *ngIf="parent2.errors && (parent2.dirty || parent2.touched) && currentMode ==='editing'" class="alert alert-info">

                        <div *ngIf="parent2.errors.pattern">
                            Parent Name accept only characters.
                        </div>

                        <div *ngIf="parent2.errors.minlength">
                            Parent Name should be more than 2 characters.
                        </div>

                    </div>
                </div>

                <!--Parent 2 mobile-->
                <div class="form-group">
                    <label class="labels " for="parent2Mobile">Mobile Number</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.parent2Mobile" class="form-control" type="tel" placeholder="01234567890"
                        maxlength="11" pattern="(01)[0-9]{9}" name="parent2Mobile" id="parent2Mobile" ngModel #parent2Mobile="ngModel">

                    <div *ngIf="parent2Mobile.errors && (parent2Mobile.dirty || parent2Mobile.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="parent2Mobile.errors.pattern">
                            invalid.
                        </div>
                    </div>
                </div>


                <!-- national id -->
                <div class="form-group">
                    <label class="labels " for="nationalID">National ID</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.nationalID" class="form-control" type="text" placeholder="National ID"
                        required minlength="14" maxlength="14" ngModel name="nationalID" class="form-control" #nationalID="ngModel"
                        id="nationalID">

                    <div *ngIf="nationalID.errors && (nationalID.dirty || nationalID.touched) && currentMode ==='editing'" class="alert alert-info">
                        <div *ngIf="nationalID.errors.required">
                            nationalID is a required field.
                        </div>
                        <div *ngIf="nationalID.errors.minlength">
                            nationalID should be 14 characters.
                        </div>
                    </div>
                </div>


                <!-- Passport id -->
                <div class="form-group">
                    <label class="labels " for="passportId">Passport ID</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.passportId" class="form-control" type="text" placeholder="Passport ID"
                        ngModel name="passportId" class="form-control" #passportId="ngModel" id="passportId">

                    <div *ngIf="passportId.errors && (passportId.dirty || passportId.touched) && currentMode ==='editing'" class="alert alert-info">
                    </div>
                </div>

                <!-- Driving id -->
                <div class="form-group">
                    <label class="labels " for="drivingID">Driving ID</label>
                    <input [readonly]="currentMode === 'viewing'" [ngModel]="profile.drivingID" class="form-control" type="text" placeholder="Driving ID"
                        ngModel name="drivingID" class="form-control" #drivingID="ngModel" id="nationalID">

                    <div *ngIf="drivingID.errors && (drivingID.dirty || drivingID.touched) && currentMode ==='editing'" class="alert alert-info">
                    </div>
                </div>



                <!--Do You Have A car ??-->
                <!--If The current Mode of is viewing the result will be a text of true or false-->
                <div *ngIf="currentMode === 'viewing'">
                    Have A Car : {{profile.haveCar}}
                </div>

                <!--If The current Mode of is editing the result will be a checkbox-->
                <div *ngIf="currentMode === 'editing'">
                    <label for="haveCar" class="labels ">Do You Have A Car ?
                                <input [readonly] = "currentMode === 'viewing'" 
                                [ngModel]="profile.haveCar" class="custom-control-input" type="checkbox"  ngModel name="haveCar" class="form-control"
                                #haveCar="ngModel" id="haveCar" >
                                </label>
                </div>




                <!--The Part of Height and Weight-->
                <div class="form-group">

                    <!--Weight-->
                    <div class="form-group">
                        <label class="labels" for="Weight">Weight</label>
                        <input [readonly]="currentMode === 'viewing'" class="form-control" type="text" [ngModel]="profile.Weight" placeholder="Weight"
                            required ngModel name="Weight" class="form-control" #Weight="ngModel"
                            id="Weight">

                        <div *ngIf="Weight.errors && (Weight.dirty || Weight.touched) && currentMode ==='editing'" class="alert alert-info">
                            <div *ngIf="Weight.errors.required">
                                Weight is a required field if you choose Technical Department.
                            </div>
                            <div *ngIf="Weight.errors.minlength">
                                Write A valid Weight in Kgs.
                            </div>
                        </div>
                    </div>


                    <!--Height-->
                    <div class="form-group">
                        <label class="labels " for="Height">Height</label>
                        <input [readonly]="currentMode === 'viewing'"  class="form-control" type="text" [ngModel]="profile.Height" placeholder="Height"
                            required   ngModel name="Height" class="form-control" #Height="ngModel"
                            id="Height">

                        <div *ngIf="Height.errors && (Height.dirty || Height.touched) && currentMode ==='editing'" class="alert alert-info">
                            <div *ngIf="Height.errors.required">
                                Height is a required field if you choose Technical Department.
                            </div>
                            <div *ngIf="Height.errors.minlength">
                                Write A valid Height in cms.
                            </div>
                        </div>
                    </div>
                </div>






                <!--Submit Button-->
                <button *ngIf = "currentMode === 'viewing'" [type]="currentModeCases['viewing']['buttonType']" [class]="currentModeCases['viewing']['buttonClass']"
                    [innerText]="currentModeCases['viewing']['buttonText']" (click)="changeMode()"></button>

                
                <button *ngIf = "currentMode === 'editing'" [type]="currentModeCases['editing']['buttonType']" [class]="currentModeCases['editing']['buttonClass']" 
                [disabled]="currentMode === 'editing' && !form.valid"
                [innerText]="currentModeCases['editing']['buttonText']"></button>

            </form>
        </div>
    </div>
