<nav class="navbar navbar-inverse bg-inverse">
  <div class="navbar-nav">
      <ul class="hrizontalList">
          <li>
              <a class="navbar-brand" href="#">Profiles</a></li>
          <li routerLinkActive="active current">
              <a class="nav-item nav-link  wh" routerLink="/add-profile">Add Profile</a>
          </li>
          <li routerLinkActive="active current">
              <a class="nav-item nav-link wh " routerLink="/view-profiles">View Profiles</a>
          </li>
          <li routerLinkActive="active current">
                <a class="nav-item nav-link wh " routerLink="#">Profiles</a>
            </li>

      </ul>
  </div>
</nav>